@mixin card_style($image) {
  height: 304px;
  width: 236px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
