.tours-1-container {
  max-width: $content-width;
  min-height: 200px;
  //   background-color: aqua;
  margin: 0 auto;
  margin-top: 48.5px;

  .tours-1-hero {
    @include tours-hero(url(/images/tours-1-hero.png));
  }
  .tours-2-hero {
    @include tours-hero(url(/images/tours-2-hero.png));
  }
  .tours-3-hero {
    @include tours-hero(url(/images/tours-3-hero.png));
  }
  .tours-4-hero {
    @include tours-hero(url(/images/tours-4-hero.png));
  }
  .tours-5-hero {
    @include tours-hero(url(/images/tours-5-hero.png));
  }
  .tours-6-hero {
    @include tours-hero(url(/images/tours-6-hero.png));
  }
  .tours-7-hero {
    @include tours-hero(url(/images/tours-7-hero.png));
  }
  .tours-8-hero {
    @include tours-hero(url(/images/tours-8-hero.png));
  }
  .tours-9-hero {
    @include tours-hero(url(/images/tours-9-hero.png));
  }

  .text-box-1 {
    height: 98px;
    min-width: 490px;
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    text-wrap: nowrap;

    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      color: $site-white;
    }
  }
  .text-box-2 {
    height: 37px;
    width: 362px;
    // background-color: rgb(64, 25, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 376px;
    margin-right: 20px;
    text-wrap: nowrap;

    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: $site-white;
    }
  }

  .extra-images {
    max-width: 100%;
    min-height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .main-title-box {
    width: 165px;
    height: 73px;
    // background-color: red;
    border-bottom: 2px solid black;
    .main-title {
      font-weight: 100;
      font-size: 60px;
      letter-spacing: 4px;
      text-wrap: nowrap;
    }
  }

  .paragraph {
    padding-top: 36.5px;
    font-size: 16px;
    padding-bottom: 80px;
    text-align: justify;
  }
  .sub-title-box {
    width: 255px;
    height: 49px;
    // background-color: aqua;
    border-bottom: 2px solid black;
    text-wrap: nowrap;

    .sub-title {
      margin-top: 101px;
      font-weight: 100;
      font-size: 40px;
      letter-spacing: 3px;
    }
  }
}
.button-box {
  //   background-color: antiquewhite;
  height: 140px;
  max-width: $content-width;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  button {
    @include book-now();
  }
}

@media all and (max-width: 980px) {
  .tours-1-container {
    padding: 0 20px;
    .tours-1-hero {
    }
    .tours-2-hero {
    }
    .tours-3-hero {
    }
    .tours-4-hero {
    }
    .tours-5-hero {
    }
    .tours-6-hero {
    }
    .tours-7-hero {
    }
    .tours-8-hero {
    }
    .tours-9-hero {
    }

    .text-box-1 {
      p {
      }
    }
    .text-box-2 {
      p {
      }
    }

    .extra-images {
      flex-wrap: wrap;
      justify-content: center;
      gap: 42px;
    }

    .main-title-box {
    }
  }

  .paragraph {
  }
  .sub-title-box {
    .sub-title {
    }
  }
}
.button-box {
  button {
  }
}
